NEXT_PUBLIC_SUPABASE_URL=https://pjkqimlznxyzuofrwmvv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZqKiKfVHr5hByHgOZV2R0g_9_lJvInc
GROQ_API_KEY=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