NEXT_PUBLIC_SUPABASE_URL=https://pjkqimlznxyzuofrwmvv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZqKiKfVHr5hByHgOZV2R0g_9_lJvInc
GROQ_API_KEY=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